<% include partials/coachesHeader.ejs %>
<div class="jumbotron">
  <h1 class="display-5">Welcome Coaches!</h1>
  <p class="lead">
<% include partials/messages.ejs %>
The goal for this tool is to allow coaches to view player ipdps and leave comments, you will then easily be able to pick up your phone and take a look at the comments you left before giving players feedback!
</p>
<p>
If you have any questions about how this works, or features you think would be cool to add email me (Rostik) at antonmertz@gmail.com
</p>
<p>
Thanks!
</p>


</div>
