<% include partials/header.ejs %>
<div class="jumbotron">

<% include partials/messages.ejs %>
  <h1 class="display-5">What is an Individual Player Development Plan(IPDP)?</h1>
  <p class="lead">

<strong>GESC</strong> believes in the importance of developing all of our players holistically, and that a player best develops when it is driven and lead by them. To accomplish this, we have set up our Individual Player Development Plan that starts with the players answering questions about themselves in 4 key areas: Competence (broken down further into technical, tactical, and physical components), Confidence, Connection (with both coaches and teammates), and Character.
</p>

<p class="lead">
These Individual Player Development Plans will be a tool to that can help drive player development in the areas that they want to improve. It will also help us measure our effectiveness and influence on the player's holistic development throughout their time with the club, will enable us to track individual and large-scale changes throughout the seasons and years, help us pinpoint areas that may need more focus, and ultimately help create a good starting point for conversation and dialogue between the player and their coaches so that we can better help players realize and achieve their goals through soccer. 
</p>
<hr class="my-4">

<h1 class="display-5">How to utilize the IPDP?</h1>


<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
<p class="lead">Players should take the survey/questionnaire to update for changes twice per year, once at the beginning of the spring season, and once at the beginning of the fall season.</p>
	</li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
<p class="lead">
It is most important that the player is the one answering the questions. Parents can help the player (especially younger players) in filling out the IPDP survey, but the answers need to come from the player themselves for it to work best. Please respond honestly (not what you think coaches would want to see). There are no right or wrong answers.
</p>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
<p class="lead">
Coaches and/or the Club Director will review each IPDP and the player's goals, and help guide the player by making recommendations and checking in with them on any answers that they feel are important to discuss.
</p>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
<p class="lead">
Coaches and/or the Club Director will also follow up with the player throughout the season and toward the end of each season in order to determine how progress is and if there are any adjustments that we feel can be made
</p>
  </li>
</ul>



 <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/questionnaire/take_ipdp" role="button">Begin IPDP</a>
  </p>
</div>
