
<div class="jumbotron">
<h1 align="center">Connection</h1>
<p align="center">Read each statement below carefully, and then choose the appropriate number to indicate how strongly you agree with each statement. </p>
<p align="center"><b>1 being not at all, 7 being extremely</b></p>
<form action='/questionnaire/ipdp_page_7/<%- id -%>' method="post">
<fieldset align="center" class="form-group" name="close_to_coaches">
<legend>I Feel Close to my Coaches</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active" id="close_to_coaches" name="close_to_coaches">
    <input type="radio" name="close_to_coaches" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="close_to_coaches" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="close_to_coaches" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="close_to_coaches" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="close_to_coaches" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="feel_commited_coaches">
<legend>I Feel Commited to my Coaches</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="feel_commited_coaches" name="feel_commited_coaches">
    <input type="radio" name="feel_commited_coaches" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_commited_coaches" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_commited_coaches" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_commited_coaches" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_commited_coaches" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="sport_career_promising">
<legend>I Feel That my Sport Career is Promising With my Coaches</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="sport_career_promising" name="sport_career_promising">
    <input type="radio" name="sport_career_promising" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="sport_career_promising" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="sport_career_promising" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="sport_career_promising" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="sport_career_promising" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="like_coaches">
<legend>I Like my Coaches</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="like_coaches" name="like_coaches">
    <input type="radio" name="like_coaches" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="like_coaches" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="like_coaches" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="like_coaches" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="like_coaches" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="trust_coaches">
<legend>I Trust my Coaches</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="trust_coaches" name="trust_coaches">
    <input type="radio" name="trust_coaches" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="trust_coaches" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="trust_coaches" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="trust_coaches" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="trust_coaches" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="appreciate_coaches">
<legend>I Feel Appreciation for the Sacrifices my Coaches Have Experienced in Order to Improve Their Performance</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="appreciate_coaches" name="appreciate_coaches">
    <input type="radio" name="appreciate_coaches" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="appreciate_coaches" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="appreciate_coaches" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="appreciate_coaches" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="appreciate_coaches" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="respect_coaches">
<legend>I Respect my Coaches</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="respect_coaches" name="respect_coaches">
    <input type="radio" name="respect_coaches" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="respect_coaches" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="respect_coaches" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="respect_coaches" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="respect_coaches" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="feel_ease_coached">
<legend>When I am Coached by my Coaches, I Feel at Ease</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="appreciate_coaches" name="feel_ease_coached">
    <input type="radio" name="feel_ease_coached" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_ease_coached" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_ease_coached" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_ease_coached" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="feel_ease_coached" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="responsive_coached">
<legend>When I am Coached by my Coaches, I Feel Responsive to Their Efforts</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="responsive_coached" name="responsive_coached">
    <input type="radio" name="responsive_coached" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="responsive_coached" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="responsive_coached" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="responsive_coached" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="responsive_coached" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="coached_ready">
<legend>When I am Coached by my Coaches, I am Ready to do my Best</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="_coaches" name="coached_ready">
    <input type="radio" name="coached_ready" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_ready" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_ready" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_ready" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_ready" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="coached_friendly">
<legend>When I am Coached by my Coaches, I Adopt a Friendly Stance</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="coached_friendly" name="coached_friendly">
    <input type="radio" name="coached_friendly" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_friendly" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_friendly" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_friendly" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coached_friendly" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<p></p>

		<button type="submit" class="btn btn-primary">Submit</button>

</form>

<p><strong>Progress</strong></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 49%"></div>
</div>
