
<div class="jumbotron">
<h1 align="center">Final Thoughts</h1>
<form action='/dashboard/ipdp_page_13/<%- id -%>' method="post">

    <div class="form-group">
      <label for="what_can_coaches_do">What can the Coaches do to Help you Reach Your Goals?</label>
      <textarea class="form-control" id="what_can_coaches_do" rows="3" name="what_can_coaches_do"></textarea>
    </div>
    <div class="form-group">
      <label for="want_to_say">Anything you Want to say to Coaches</label>
      <textarea class="form-control" id="want_to_say" rows="3" name="want_to_say"></textarea>
    </div>
<p></p>

		<button type="submit" class="btn btn-primary">Submit</button>

</form>

<p><strong>Progress</strong></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 91%"></div>
</div>
