
<div class="jumbotron">
<h1 align="center" >Technical Skills-Goalkeeper</h1>
<p align="center">Listed here are different skills for you to rate between 1 and 5, 1 being not very competent and 5 being very competent.</p>
<p align="center"><b>(These questions are optional-if you do not play GK, you do not need to answer)</b></p>
<form action='/questionnaire/ipdp_page_4/<%- id -%>' method="post">
<fieldset align="center" class="form-group" name="shot_stopping_gk">
<legend>Shot Stopping</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active" id="shot_stopping_gk" name="shot_stopping_gk">
    <input type="radio" name="shot_stopping_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="shot_stopping_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="shot_stopping_gk" id="3" value="3" autocomplete="off"> 3 
  </label>

  <label class="btn btn-primary">
    <input type="radio" name="shot_stopping_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="shot_stopping_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="balls_in_air_gk">
<legend>Balls in the Air</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="balls_in_air_gk" name="balls_in_air_gk">
    <input type="radio" name="balls_in_air_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="balls_in_air_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="balls_in_air_gk" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="balls_in_air_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="balls_in_air_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="handling_gk">
<legend>Handling/Catching</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="handling_gk" name="handling_gk">
    <input type="radio" name="handling_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="handling_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="handling_gk" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="handling_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="handling_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="break_aways_gk">
<legend>Break Aways</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="break_aways_gk" name="break_aways_gk">
    <input type="radio" name="break_aways_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="break_aways_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="break_aways_gk" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="break_aways_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="break_aways_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="positioning_gk">
<legend>Positioning</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="positioning_gk" name="positioning_gk">
    <input type="radio" name="positioning_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="positioning_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="positioning_gk" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="positioning_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="positioning_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="playing_feet_gk">
<legend>Playing with Feet</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="playing_feet_gk" name="playing_feet_gk">
    <input type="radio" name="playing_feet_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="playing_feet_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="playing_feet_gk" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="playing_feet_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="playing_feet_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="distribution_gk">
<legend>Distribution</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="distribution_gk" name="distribution_gk">
    <input type="radio" name="distribution_gk" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="distribution_gk" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="distribution_gk" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="distribution_gk" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="distribution_gk" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<p></p>

		<button type="submit" class="btn btn-primary">Submit</button>

</form>

<p><strong>Progress</strong></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 28%"></div>
</div>
