
<div class="jumbotron">
<h1 align="center" >Physicality</h1>
<p align="center">Listed here are different skills for you to rate.</p>
<p align="center"><b>Rate between 1 and 5, 1 being not very competent, and 5 being very competent.</b></p>
<form action='/questionnaire/ipdp_page_6/<%- id -%>' method="post">
<fieldset align="center" class="form-group" name="strength">
<legend>Strength</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active" id="strength" name="strength">
    <input type="radio" name="strength" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="strength" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="strength" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="strength" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="strength" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="quickness">
<legend>Quickness</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="quickness" name="quickness">
    <input type="radio" name="quickness" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="quickness" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="quickness" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="quickness" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="quickness" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="top_speed">
<legend>Top Speed</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="top_speed" name="top_speed">
    <input type="radio" name="top_speed" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="top_speed" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="top_speed" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="top_speed" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="top_speed" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="endurance">
<legend>Endurance</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="endurance" name="endurance">
    <input type="radio" name="endurance" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="endurance" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="endurance" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="endurance" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="endurance" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="coordination">
<legend>Coordination</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="coordination" name="coordination">
    <input type="radio" name="coordination" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coordination" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coordination" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coordination" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="coordination" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<p></p>

		<button type="submit" class="btn btn-primary">Submit</button>

</form>

<p><strong>Progress</strong></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 42%"></div>
</div>
