
<div class="jumbotron">
<h1 align="center">Confidence</h1>
<p align="center">A number of statements that atheletes have used to describe their feelings before a big game are given below. Read each statement and then choose the appropriate number to indicate
how you feel right now - at this moment. There are no right or wrong answers. Do not spend too much time on any one statement, but choose the answer which describes your feelings right now.</p>
<p align="center"><b>1 being not at all, 4 being very much so</b></p>
<form action='/dashboard/ipdp_page_9/<%- id -%>' method="post">
<fieldset align="center" class="form-group" name="concerned_not_do_well">
<legend>I am Concerned that I may not do as well in this Competition as I Could</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active" id="concerned_not_do_well" name="concerned_not_do_well">
    <input type="radio" name="concerned_not_do_well" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="concerned_not_do_well" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="concerned_not_do_well" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="concerned_not_do_well" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="concerned_not_do_well" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="i_feel_confident">
<legend>I Feel Self-Confident</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="i_feel_confident" name="i_feel_confident">
    <input type="radio" name="i_feel_confident" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="i_feel_confident" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="i_feel_confident" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="i_feel_confident" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="i_feel_confident" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="confident_can_meet_challenge">
<legend>I'm Confident I can Meet the Challenge</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="confident_can_meet_challenge" name="confident_can_meet_challenge">
    <input type="radio" name="confident_can_meet_challenge" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_can_meet_challenge" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_can_meet_challenge" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_can_meet_challenge" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_can_meet_challenge" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="concerned_choking">
<legend>I am Concerned About Choking Under Pressure</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="concerned_choking" name="concerned_choking">
    <input type="radio" name="concerned_choking" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_choking" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_choking" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_choking" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_choking" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="confident_performing">
<legend>I am Confident About Performing Well</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="confident_performing" name="confident_performing">
    <input type="radio" name="confident_performing" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_performing" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_performing" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_performing" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_performing" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="concerned_performing_poorly">
<legend>I am Concerned about Performing Poorly</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="concerned_performing_poorly" name="concerned_performing_poorly">
    <input type="radio" name="confident_performing" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_performing_poorly" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_performing_poorly" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_performing_poorly" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_performing_poorly" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="confident_mentally_picturing">
<legend>I am Confident Because I can Mentally Picture Myself Reaching my Goals</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="confident_mentally_picturing" name="confident_mentally_picturing">
    <input type="radio" name="confident_mentally_picturing" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_mentally_picturing" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_mentally_picturing" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_mentally_picturing" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_mentally_picturing" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="concerned_others_disappointed">
<legend>I'm Concerned that Others will be Disappointed with my Performance</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="concerned_others_disappointed" name="concerned_others_disappointed">
    <input type="radio" name="concerned_others_disappointed" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_others_disappointed" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_others_disappointed" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_others_disappointed" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="concerned_others_disappointed" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>
<fieldset align="center" class="form-group" name="confident_under_pressure">
<legend>I am Confident of Coming Through Under Pressure</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="confident_under_pressure" name="confident_under_pressure">
    <input type="radio" name="confident_under_pressure" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_under_pressure" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_under_pressure" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_under_pressure" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="confident_under_pressure" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<p></p>

		<button type="submit" class="btn btn-primary">Submit</button>

</form>

<p><strong>Progress</strong></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 63%"></div>
</div>
