
<div class="jumbotron">
<h1 align="center">Technical Skills-Field Player</h1>
<p align="center">Listed here are different skills for you to rate between 1 and 5, 1 being not very competent, and 5 being very competent.</p>
<form action='/questionnaire/ipdp_page_3/<%- id -%>' method="post">
<fieldset align="center" class="form-group" name="first_touch">
<legend>First Touch</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary active" id="first_touch" name="first_touch">
    <input type="radio" name="first_touch" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="first_touch" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="first_touch" id="3" value="3" autocomplete="off"> 3 
  </label>

  <label class="btn btn-primary">
    <input type="radio" name="first_touch" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="first_touch" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="dribbling">
<legend>Dribbling</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="dribbling" name="dribbling">
    <input type="radio" name="dribbling" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="dribbling" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="dribbling" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="dribbling" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="dribbling" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="short_passing">
<legend>Short Passing</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="short_passing" name="short_passing">
    <input type="radio" name="short_passing" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="short_passing" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="short_passing" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="short_passing" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="short_passing" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="long_passing">
<legend>Long Passing</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="long_passing" name="long_passing">
    <input type="radio" name="long_passing" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="long_passing" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="long_passing" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="long_passing" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="long_passing" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="shooting">
<legend>Shooting/Finishing</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="shooting" name="shooting">
    <input type="radio" name="shooting" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shooting" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shooting" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shooting" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shooting" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="tackling">
<legend>Tackling</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="tackling" name="tackling">
    <input type="radio" name="tackling" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="tackling" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="tackling" id="3" value="3" autocomplete="off"> 3 
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="tackling" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="tackling" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<fieldset align="center" class="form-group" name="shielding">
<legend>Shielding</legend>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-primary btn-lrg active" id="shielding" name="shielding">
    <input type="radio" name="shielding" id="1" value="1" autocomplete="off" checked=""> 1
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shielding" id="2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shielding" id="3" value="3" autocomplete="off"> 3 
  </label>

  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shielding" id="4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-primary btn-lrg">
    <input type="radio" name="shielding" id="5" value="5" autocomplete="off"> 5 
  </label>
</div>
</fieldset>

<p></p>

		<button type="submit" class="btn btn-primary">Submit</button>

</form>

<p><strong>Progress</strong></p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 21%"></div>
</div>
