<% include partials/coachesHeader.ejs %>
<div class="jumbotron">
<% include partials/messages.ejs %>
  <h1 class="display-5"><%= player.first_name %> <%= player.last_name %>'s IPDPs</h1>
	<% ipdps.forEach(function(indiv) { %>
		<a class="btn btn-primary btn-lg" role="button" href="/coaches/player/ipdp/<%= indiv.url %>"><%= indiv.season %></a>
	<% }) %>
	
</div>
