<% include partials/coachesHeader.ejs %>
<div class="jumbotron">
  <h1 class="display-5">Player Search</h1>
<% include partials/messages.ejs %>
<% players.forEach(function(player) { %>
  <a class="btn btn-primary btn-lg" role="button" href="/coaches/player/<%= player.url %>"><%= player.first_name %> <%= player.last_name %></a>
	<% }) %>
</div>
